*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
}
li {
  list-style: none;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

/*-----*/
:root {
  --first-color: #22313f;
  --second-color: #34495e;
  --third-color: #8dc6ff;
  --border-color: #dbdbdb;
}

body {
  color: var(--first-color);
  font-family: "Roboto", sans-serif;
}

h1 {
  margin-top: 10px;
  font-weight: 700;
  font-size: 30px;
}

h2 {
  font-size: 20px;
  line-height: 1;
}

.main {
  max-width: 600px;
  margin: 10px auto 0 auto;
  padding: 20px 30px 10px 30px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
}

.last-update {
  margin-top: 20px;
  font-size: 15px;
  color: var(--third-color);
  text-align: center;
}

.icon-main {
  text-align: center;
}

.temp {
  position: relative;
}

.temp-value {
  display: inline-block;
  font-size: 90px;
  color: var(--second-color);
}

.temp-units {
  display: inline-block;
  position: absolute;
  top: 30px;
  font-size: 20px;
}

.active {
  color: var(--second-color);
  cursor: default;
}

.weather-values {
  padding: 5px 0 0 5px;
  font-size: 18px;
  text-align: left;
}

@media (max-width: 570px) {
  .temp,
  .weather-values li {
    text-align: center;
  }
}

.future-forecast {
  margin: 10px 0;
  padding: 10px;
  text-align: center;
}

.day-of-the-week {
  font-weight: 700;
  margin-bottom: 5px;
}

.day-temperature {
  font-size: 20px;
  margin-top: 5px;
}
.night-temperature {
  font-size: 16px;
}

.github-link {
  margin-top: 10px;
  text-align: center;
}
