* {
  padding: 0;
  margin: 0;
}
:root {
  --main-color: #22313f;
  --second-color: #34495e;
  --third-color: #8dc6ff;
  --fourth-color: #e4f1fe;
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  color: var(--main-color);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  margin-top: 10px;
  font-weight: 600;
  font-size: 30px;
}
h2,
h3 {
  font-size: 20px;
  line-height: 1;
}

.main {
  max-width: 600px;
  margin: 50px auto 0 auto;
  padding: 30px 30px 1px 30px;
  border: 2px solid #dbdbdb;
  border-radius: 5px;
}

.temp {
  position: relative;
}

.temp-value {
  display: inline-block;
  font-size: 90px;
}

.temp-units {
  display: inline-block;
  position: absolute;
  top: 30px;
}

.weather-values {
  padding: 5px 0 0 5px;
  font-size: 18px;
  text-align: left;
}

.celcius,
.fahrenheit {
  font-size: 20px;
  color: var(--second-color);
}

.future-forecast {
  margin: 10px 0;
  padding: 10px;
  text-align: center;
}

.future-forecast:hover {
  background-color: var(--fourth-color);
  border-radius: 10px;
}

.day-of-the-week {
  font-weight: 600;
}
.day-temperature {
  font-size: 18px;
}
.night-temperature {
  font-size: 14px;
}

.github-link {
  margin-top: 10px;
  text-align: center;
}

@media (max-width: 570px) {
  .icon-main {
    display: inline-block;
  }

  .temp,
  .weather-values li,
  .icon-main {
    text-align: center;
  }
}
